/** overlay.css */
body {
  background-color: rgba(0, 0, 0, 0);
  width: 1920px;
  max-height: 1080px;
}

#countdown {
  width: 100%;
  /** To match container and align all the way right */
  text-align: right;
  font-size: 32px;
  color: purple;
  /** Viewable on both white and black background */
  font-family: Calibri;
  font-weight: bold;
  padding: 10px 20px;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}